<!-- Task list -->
<div class="row">
  <div class="span12">
    <div class="row">
      <div class="span2 offset3">
        <%= image_tag "logo.jpeg", :alt => "logo", :witch => "249", :height => "202", :class => "img-polaroid" %>
      </div>
      <div class="span6">
        <h1>Your Account</h1>
        <h2>Hello <%= @current_user.username %>, you have 
            <span id="today_tasks"><%= pluralize(@current_user.today_tasks.count, "task") %></span> to accomplish today.</h2>
      </div>
    </div>
  </div>
</div><br /><br />

<!-- Add, Filter and Search -->
<div class="row">
  <div class="span12">
    <div class="row">
      <div class="span6">
        <button type="select" class="btn" href="#add_popup" data-toggle="modal"><i class="icon-plus"></i> Add</button>
      </div>
      <div class="span3">
        <%= collection_select :task, :category_id, @current_user.categories, :id, :name, {:prompt => "All categories"}, {:onchange => "filter_by_category(this.value);"} %>
      </div>
      <div class="span3">
        <%= form_for :task, :html => {:method => 'get', :id => 'simpleSearch'} do |f| %>
	      <div class="input-append" id="quickSearch">
           <%= hidden_field_tag :direction, params[:direction] %>
           <%= hidden_field_tag :sort, params[:sort] %>
           <input type="text" class="" align= "right" name = "search" id="appendedInput" value="" placeholder="Search", autocomplete = "on" />
		      <span class="add-on"></span>
	      </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- FIN recherche rapide et pagination --> 

<div id="tasks"><%= render :partial => "tasks"%></div>

<div class="modal fade" id="add_popup">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h4>New task</h4>
  </div>
  <%= render 'form' %>
</div>
